.flashy {
  color: red;
  font-style: italic;
}

.best {
  font-style: bold;
  font-size: 100px;
  color:rgb(77, 23, 128);
}
img.small {
  width: 200px;
  height:auto;
}
img.big {
  width:500px;
  height:auto
}